<div class="background-image-form" >
<div class="form-block">
  <h2>Mise à jour du profil</h2>

    <%= simple_form_for @user, :url => profile_path do |f| %>
    <div class="form-inline-mls">
    <%= f.input :location, label: "Où habitez-vous ? " %>
    <%= f.input :move_radius, label: "Rayon de recherche" %>
  </div>
  <fieldset class="form-group check_boxes optional user_genres form-group-valid">
    <legend class="col-form-label pt-0">Quels genres de musiques vous intéressent ?
    </legend>

    <div class="category-choices">
      <% GlobalConstants::GENRES.each do |genre| %>
      <div class="form-check">
        <% if @user.genres.include?(genre) %>
          <input class="hidden" type="checkbox" checked value="<%= genre %>" name="user[genres][]" id="user_genres_<%= genre %>" />
            <label class="category-choice active" id="grid-genre"
                 style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("genres/#{genre}.jpg")%>);"
                 for="user_genres_<%= genre %>"
                 >
                 <div class="label-text">
                  <%= genre %>
                 </div>
                 <div class="gradient-blue"></div>
            </label>
        <% else %>
          <input class="hidden" type="checkbox" value="<%= genre %>" name="user[genres][]" id="user_genres_<%= genre %>" />
          <label class="category-choice" id="grid-genre"
                 style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("genres/#{genre}.jpg")%>);"
                 for="user_genres_<%= genre %>"
                 >
                 <div class="label-text">
                  <%= genre %>
                 </div>
                 <div class="gradient-blue"></div>
          </label>
        <% end %>
      </div>
      <% end %>
    </div>
  </fieldset>
  <div class="container buttoncenter">
    <%= f.button :submit, "Sauvegarder", class: "btn-mls-profile button-form-final", id: "button-style" %>
  </div>
  <% end %>
</div>
</div>
