<div class="form-block">
  <h2>Mise à jour du profil</h2>
  <%= simple_form_for @user, :url => profile_path do |f| %>
  <%= f.input :location, label: "Addresse" %>
  <fieldset class="form-group check_boxes optional user_genres form-group-valid">
    <legend class="col-form-label pt-0">Choisissez jusqu'à trois genres !
    </legend>

    <div class="category-choices">
      <% GlobalConstants::GENRES.each do |genre| %>
      <div class="form-check">
        <% if @user.genres.include?(genre) %>
          <input class="hidden" type="checkbox" checked value="<%= genre %>" name="user[genres][]" id="user_genres_<%= genre %>" />
        <% else %>
          <input class="hidden" type="checkbox" value="<%= genre %>" name="user[genres][]" id="user_genres_<%= genre %>" />
        <% end %>
        <label class="category-choice"
               style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("genres/#{genre}.jpg")%>);"
               for="user_genres_<%= genre %>"
               >
               <div class="label-text">
                <%= genre %>
               </div>
        </label>
      </div>
      <% end %>
    </div>
  </fieldset>
  <%= f.input :move_radius, label: "Combien de kilomètres êtes vous prêt à parcourir pour voir un concert ?" %>
  <%= f.button :submit, "Sauvegarder", class: "btn-mls-profile" %>
  <% end %>
</div>
