<div class="banner">
  <div class="banner-title-container">
    <h1 id="title-banner" class="text-center">Découvrez des groupes proches de chez vous !</h1>
    <ul id="description-title-banner">
      <li>Jouer devant des salles combles</li>
      <li>Profiter de concerts qualitatifs</li>
    </ul>
  </div>

  <div>
    <%= simple_form_for :search, url: concerts_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Entrez une ville...",
          :required => 'required'
        %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>

<% if current_user %>
<div class="spacing-div">
  <div class="container mt-5 mb-5">
    <div class="container mt-5 pb-2 pl-0">
      <h2 class="index-title-home">Concerts près de chez vous</h2>
    </div>
    <% if @concerts.empty? %>
    <p>Malheureusement, aucun concert ne correspond à vos critères.</p>
    <p>Essayez d'élargir votre zone depuis  <%= link_to "votre profil", profile_path(current_user) %> !</p>
    <% end %>
  <div class="cards justify-content-around">
    <% @concerts.first(9).each do |concert| %>
      <%= link_to concert, :action => 'go' do %>
        <div class="card-concert-user">
          <%= cl_image_tag concert.photo.key %>
          <div class="card-concert-user-infos">
            <div class="card-name">
              <h2 class="card-band-genre-show"><%= concert.band.genre.upcase %></h2>
              <h2 class="card-band-name-show"><%= concert.band.name %></h2>
              <h2 class="card-concert-date-show d-flex">
                <div><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%></div>
                <div class="band-hour-show"><%= concert.start_time.strftime("%Hh%M") %></div>
              </h2>
              <h2 class="card-concert-localisation-show"><%= concert.address %></h2>
            </div>
            <div class="card-concert-user-pricing">
              <h2><%= number_with_delimiter(concert.price_cents/100) %>€</h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="container mt-5 mb-5">
    <div class="container mt-5 pb-2 pl-0">
      <h2 >Concerts à l'affiche : </h2>
    </div>
      <div class="cards justify-content-around">
        <% @concerts.first(3).each do |concert| %>
        <%= link_to concert, :action => 'go' do %>
          <div class="card-concert-user">
            <%= cl_image_tag concert.photo.key %>
            <div class="card-concert-user-infos">
              <div class="card-name">
                <h2 class="card-band-genre-show"><%= concert.band.genre %></h2>
                <h2 class="card-band-name-show"><%= concert.band.name %></h2>
                <h2 class="card-concert-date-show"><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%> | <%= concert.start_time.strftime("%Hh%M") %></h2>
                <h2 class="card-concert-localisation-show"><%= concert.address %></h2>
              </div>
              <div class="card-concert-user-pricing">
                <h2><%= number_with_delimiter(concert.price_cents/100) %>€</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if !user_signed_in? %>
  <div class="wrapper wrapper-blue p-5">
    <div class="container mt-5 pb-2 pl-0">
      <h2 >Vous faites partie d'un groupe ?</h2>
    </div>
    <div class="container bg-light p-5">
      <h4>Hey toi !!</h4>
      <p>Fatigué de jouer devant... et bien personne ? Trouvez les meilleures endroits où vous produire, préparer vos affaires et mettez le feu!</p>
      <a class="btn btn-flat btn-blue" href="/bands/new">Créer un groupe</a>
    </div>
  </div>
<% end %>


