<div class="banner">
  <div class="banner-title-container">
    <div class="flextypewriter">
      <div class="typewriter">
         <h1 id="title-banner" class="text-center">Explorez la scène locale !</h1>
      </div>
    </div>
    <p id="description-title-banner">Enfin la musique que vous préférez près chez vous.<br> Un nouvel outil pour les musiciens et les passionnés.</p>
    <div>
      <%= simple_form_for :search, url: concerts_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Recherchez une ville",
            id: "concert_address",
            :require => 'required'
          %>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if current_user %>
<div class="spacing-div">
  <div class="container mt-5 mb-5">
    <div class="container mt-5 pb-2 pl-0 change-your-life-parent">
      <% if @user.genres.size >= 2 %>
      <h2 class="index-title-home pb-4">Les concerts sélectionnés pour vous parmi les genres : <%= @user.genres.first(3).join(', ') %> ...</h2>
      <% elsif @user.genres.size == 1%>
        <h2 class="index-title-home pb-4">Les concerts sélectionnés pour vous dans le genre <%= @user.genres.first%></h2>
      <%  else %>
        <h2 class="index-title-home pb-4">Vous n'avez pas encore séléctionné de genre !</h2>
      <% end %>
      <%= link_to edit_profile_path(current_user) do %>
        <p id="change-your-life" style="font-size: 20px;">Envie de changement ? Élargissez vos horizons !</p>
      <% end %>
    </div>

    <% if @concerts.empty? %>
      <p class="text-center">Malheureusement, aucun concert ne correspond à vos critères.</p>
      <p class="text-center">Essayez d'élargir votre zone depuis  <%= link_to "votre profil", edit_profile_path(current_user) %> !</p>
    <% end %>
  <div class="cards justify-content-around", id="homepage-proof">
    <% @concerts.first(9).each do |concert| %>
      <%= link_to concert, :action => 'go' do %>
        <div class="card-concert-user make-it-slow remember-scroll">
          <%= cl_image_tag concert.photo.key %>
          <div class="card-concert-user-infos">
            <div class="card-name">
              <h2 class="card-band-genre-show"><%= concert.band.genre.upcase %></h2>
              <h2 class="card-band-name-show"><%= concert.band.name %></h2>
              <h2 class="card-concert-date-show d-flex">
                <div><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%></div>
                <div class="band-hour-show"><%= concert.start_time.strftime("%Hh%M") %></div>
              </h2>
              <h2 class="card-concert-localisation-show"><%= concert.address %></h2>
            </div>
            <div class="card-concert-user-pricing">
              <h2><%= number_with_delimiter(concert.price_cents/100) %>€</h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="container mt-5 mb-5">
    <div class="container mt-5 pb-2 pl-0">
      <h2 class="text-center">Concerts à l'affiche</h2>
    </div>
      <div class="cards justify-content-around">
        <% @concerts.first(3).each do |concert| %>
        <%= link_to concert, :action => 'go' do %>
          <div class="card-concert-user make-it-slow">
            <%= cl_image_tag concert.photo.key %>
            <div class="card-concert-user-infos">
              <div class="card-name">
                <h2 class="card-band-genre-show"><%= concert.band.genre %></h2>
                <h2 class="card-band-name-show"><%= concert.band.name %></h2>
                <h2 class="card-concert-date-show"><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%> | <%= concert.start_time.strftime("%Hh%M") %></h2>
                <h2 class="card-concert-localisation-show"><%= concert.address %></h2>
              </div>
              <div class="card-concert-user-pricing">
                <h2><%= number_with_delimiter(concert.price_cents/100) %>€</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



