<div class="container mb-5" id="container-margin">
  <div class="container mt-5 pb-2 pl-0">
    <% if (@concerts.blank?) %>
      <h2 class="index-title-home">Il n'y a pas de concert à <%= params[:query]%>.</h2>
    <% else %>
      <h2 class="index-title-home">Concerts près de <%= params[:query]%></h2>
  </div>
  <div class="cards justify-content-around">
    <% @concerts.each do |concert| %>
    <%= link_to concert, :action => 'go' do %>
      <div class="card-concert-user make-it-slow">
        <%= cl_image_tag concert.photo.key %>
        <div class="card-concert-user-infos">
          <div class="card-name">
            <h2 class="card-band-genre-show"><%= concert.band.genre.upcase %></h2>
            <h2 class="card-band-name-show"><%= concert.band.name %></h2>
            <h2 class="card-concert-date-show"><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%> | <%= concert.start_time.strftime("%Hh%M") %></h2>
            <h2 class="card-concert-localisation-show"><%= concert.address %></h2>
          </div>
          <div class="card-concert-user-pricing">
            <h2><%= number_with_delimiter(concert.price_cents/100) %>€</h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% end %>
  </div>
</div>
