<div class="container mt-5 mb-5">
  <div class="container mt-5 pb-2 pl-0">
    <h2 >Concerts à l'affiche à <%= params[:query]%></h2>
  </div>
  <div class="cards justify-content-around">
    <% @concerts.each do |concert| %>
    <%= link_to concert, :action => 'go' do %>
      <div class="card-concert-user">
        <%= image_tag "Bannerimage.jpg" %>
        <div class="card-concert-user-infos">
          <div class="card-name">
            <h2><%= concert.band.genre %></h2>
            <h2><%= concert.band.name %></h2>
            <p><%= frenchdate(concert.start_time.strftime("%A %d %B %Y")) %></p>
            <p><%= concert.address %></p>
          </div>
          <div class="card-concert-user-pricing">
            <h2>$<%= number_with_delimiter(concert.price_cents/100) %></h2>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
