<div class="show-container">
  <div class="row">
    <div class="col concert-show-infos">
      <h2 class="band-genre-show"><%= @concert.band.genre.upcase %></h2>
      <h1 class="band-name-show"><%= @concert.band.name %></h1>
      <h4 id="infos-show" class="d-flex justify-content-evenly">
        <div class="concert-date-show"><%= frenchdate(@concert.start_time.strftime("%A %d %B %Y")) %></div>
        <div class="concert-hour-show"><%= @concert.start_time.strftime("%Hh%M") %></div>
        <div class="concert-price-show"><%= number_with_delimiter(@concert.price_cents / 100) %>€</div>
      </h4>
      <p class="concert-description-show"><%= @concert.description %></p>
      <h5 class="concert-localisation-show"><%= @concert.address %></h5>

      <% if Participation.exists?(user_id: current_user.id, concert_id: @concert.id) %>
        <div class="btn-mls-show">ANNULER</div>
      <% else %>
        <%= link_to concert_participations_path(@concert), method: :post do %>
          <div class="btn-mls-show">PARTICIPER</div>
        <% end %>
      <% end %>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="concert-poster-show"> <img src="https://pro2-bar-s3-cdn-cf3.myportfolio.com/e35a008d67629479e1dde9519bf560c6/e4d498af-9da9-4b30-bc2d-ebb467c0a2ca_rw_1920.png?h=d6184ae382ea0279eb889b21fc14c81a"></div>
    </div>
  </div>
</div>
