<div class="band_show-container">
  <div class="d-flex justify-content-between">
    <div class="row">
      <div class="col band-show-infos">
        <h2 class="band-genre-show"><%= @band_show.genre.upcase %></h2>
        <h1 class="band-title-show"><%= @band_show.name %></h1>
        <% if /youtube/ === @band_show.external_link  %>
        <%= link_to ("http://#{@band_show.external_link}") do %>
          <i class="fab fa-youtube show-icon"></i>
          <% end %>
        <% elsif /soundcloud/ === @band_show.external_link %>
        <%= link_to ("http://#{@band_show.external_link}") do %>
          <i class="fab fa-soundcloud show-icon"></i>
          <% end %>
        <% elsif /bandcamp/ === @band_show.external_link %>
        <%= link_to ("http://#{@band_show.external_link}") do %>
          <i class="fab fa-bandcamp show-icon"></i>
          <% end %>
        <% else %>
        <%= link_to "Écoutez nous !", "http://#{@band_show.external_link}" %>
        <% end %>
        <p class="concert-description-show"><%= @band_show.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div data-tilt class="band-poster-show">
          <%= cl_image_tag @band_show.photo.key %>
        </div>
      </div>
    </div>
  </div>
<% if current_user.band && current_user.band == @band_show %>
  <h2 id="future-concerts" class="grid-band-show mb-5 mt-5">Vos prochains concerts</h2>
<% else %>
  <h2 id="future-concerts" class="grid-band-show mb-5 mt-5">Leurs prochains concerts</h2>
<% end %>
  <div class="band-show-cards">
    <% @future_concerts.each do |concert| %>
      <%= link_to concert, :action => 'go' do %>
        <div class="card-show-band make-it-slow">
          <%= cl_image_tag concert.photo.key %>
          <div class="card-show-band-infos">
            <div class="card-name">
              <div class="card-band-show-genre-participations">
                <h2 class="card-band-genre-show"><%= concert.band.genre.upcase %></h2>
                <h2 class="card-show-band-participations" ><i class="fas fa-user"></i><div class="card-participations-count"><%= concert.participations.count %></div></h2>
              </div>
              <h2 class="card-band-localisation-show"><%= /.+, (.+)$/.match(concert.address)[1] %></h2>
              <h2 class="card-band-date-show d-flex">
                <div ><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%></div>
                <div class="band-hour-show"><%= concert.start_time.strftime("%Hh%M") %></div>
              </h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
