<div class="band_show-container">
  <div class="d-flex justify-content-between">
    <div class="row">
      <div class="col band-show-infos">
        <h2 class="band-genre-show"><%= @band_show.genre.upcase %></h2>
        <h1 class="band-name-show"><%= @band_show.name %></h1>
        <p class="concert-description-show"><%= @band_show.description %></p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="band-poster-show"> <img src="https://images.unsplash.com/photo-1518552722618-737f6d8e91c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"></div>
      </div>
    </div>
  </div>

  <h2 class="grid-band-show mb-5 mt-5">Vos prochains concerts</h2>
  <div class="band-show-cards">
    <% @concerts.each do |concert| %>
      <%= link_to concert, :action => 'go' do %>
        <div class="card-show-band">
          <%= image_tag "Bannerimage.jpg" %>
          <div class="card-show-band-infos">
            <div class="card-name">
              <div class="card-band-show-genre-participations">
                <h2 class="card-band-genre-show"><%= concert.band.genre.upcase %></h2>
                <h2 class="card-show-band-participations" ><i class="fas fa-user"></i><div class="card-participations-count"><%= concert.participations.count %></div></h2>
              </div>
              <h2 class="card-band-localisation-show"><%= /.+, (.+)$/.match(concert.address)[1] %></h2>
              <h2 class="card-band-date-show d-flex">
                <div ><%= frenchdate(concert.start_time.strftime("%A %d %B %Y"))%></div>
                <div class="band-hour-show"><%= concert.start_time.strftime("%Hh%M") %></div>
              </h2>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
