<div class="form-block">
  <h2>Nouveau concert</h2>
  <%= simple_form_for @concert, :url => my_concerts_path do |f| %>

    <%= f.input :title, label: "Titre", :input_html => { :value => @user.band.name } %>
    <div class="form-description-tall">
    <%= f.input :description %>
    </div>
    <%= f.input :address, label: "Addresse du lieu"%>
    <div class="form-inline-mls">
    <%= f.input :external_link, label: "Lien de l'évènement (facebook, etc.)", input_html: { id: 'form-external-link', :value => @user.band.external_link }%>
    <%= f.input :price_cents, label: "Prix €", input_html: { id: 'form-price' }%>
    </div>
    <div class="form-inline-mls" id="fixed-height-mls">
    <%= f.input :start_time, as: :string, required: false, input_html: { class: 'datepicker', id: 'start-date' }, label: "Début du concert" %>
    <%= f.input :end_time, as: :string, required: false, input_html: { class: 'datepicker', id: 'end-date' }, label: "Fin du concert" %>
    <div class="vertical-mls">
    <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: 'Affiche du concert' %>
    <%= image_tag "", width: 100, class: "hidden", id: "photo-preview" %>
    </div>
    </div>
    <%#= f.input :confirmed, as: :check_boxes, label: "Publier" %>
    <%= f.button :submit, "CRÉER CE CONCERT", class: "btn-mls-forms" %>
  <% end %>
</div>
