<div class="map-container">
  <div class="d-flex" id="bg-container">
    <div class="map-subcontainer">
      <div class="search-form-control form-group" id="map-query">
      <%= form_tag locations_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control margin-location-form",
          placeholder: "Entrez une ville...",
          id: "concert_address"
        %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      <% end %>
      </div>
      <div id="map"
           style="width: 100%; height: 927px;"
           data-markers="<%= @markers.to_json %>"
           data-longitude="<%= @band_location[0] %>"
           data-latitude="<%= @band_location[1] %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      <div class="user-data">
      <% @users_sort_genre_city.each do |user_data| %>
        <div class="location-info-card"
             id="<%= user_data.location %>-info-card"
             data-location="<%= user_data.location %>"
             data-coordinates="<%= [user_data.longitude, user_data.latitude].to_json %>"
             >
          <h4><%= user_data.location %></h4>
          <div class="stats-container border-bottom">
            <p>Spectateurs potentiels</p><p><span class="mls-blue-text"><%= user_data.number_of_users %></span><sup class="lighter-text"> /<%= @total_users_in_city["#{user_data.location}"] %></sup></p>
            </div>
            <div class="stats-container">
              <% if @price_per_city["average_price_in_#{user_data.location}"] == 0 %>
              <p id="soft-text">Aucun concert MLS à cet endroit.</p>
              <% else %>
                <p>Prix moyen pratiqué</p><p><span class="mls-blue-text"><%= @price_per_city["average_price_in_#{user_data.location}"] / 100 %></span><sup class="lighter-text"> €</sup></p>
              <% end %>
          </div>
          <div class="centered-icon">
          <%= link_to new_my_concert_path(:address => user_data.location) do %>
          <i class="fas fa-plus-circle"></i>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
